body {
  font-family: Arial, sans-serif;
  background: url('./imagens/fundo-app-receita.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
}

.title {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #ff9800;
  text-align: center;
}

.plus-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #ff9800;
  color: #fff;
  font-size: 24px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plus-icon:hover {
  background-color: #e68900;
}

.card:hover {
  transform: scale(1.05);
}

.receita-detalhes {
  margin: auto;
  max-width: 600px;
  margin-top: 25px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.receita-detalhes h1 {
  font-size: 2em;
  color: #ff9800;
}

.receita-detalhes h3 {
  font-size: 1.5em;
  margin-top: 20px;
  color: #333;
}

.receita-detalhes ul {
  list-style-type: none;
  padding: 0;
}

.receita-detalhes li {
  background-color: #ffebcc;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

.receita-detalhes button {
  background-color: #ffebcc;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

.adicionar-receita {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.adicionar-receita h1 {
  font-size: 2em;
  color: #ff9800;
  text-align: center;
  margin-bottom: 20px;
}

.adicionar-receita form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.adicionar-receita label {
  font-size: 1.1em;
  color: #333;
}

.adicionar-receita input,
.adicionar-receita textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.adicionar-receita textarea {
  resize: vertical;
}

.adicionar-receita button {
  background-color: #ff9800;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.adicionar-receita button:hover {
  background-color: #e68900;
}

.navbar {
  background-color: #ff9800;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

.navbar-link:hover {
  text-decoration: underline;
}

.navbar-title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  flex-grow: 1;
}

.footer {
  background-color: #ff9800;
  color: #fff;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-title {
  font-size: 24px;
}
